<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipeBook - книга рецептов</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding-top:0px;">
    <div class="navbar navbar-expand navbar-light bg-light">
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    @Html.ActionLink("Домашняя страница", "Index", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Информация", "About", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item active">
                    @Html.ActionLink("Связаться", "Contact", "Home", null, new { @class = "nav-link" })
                </li>
            </ul>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - мое приложение ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
